@keyframes showMainPage {
    to{
        margin: 0;
    }
}
@keyframes hideMainPage {
    from{
        margin: 0;
    }
    to{
        margin-right: -280vw;
    }
}


@keyframes showBackBtn {
    to{
        opacity: 1;
    }
}
